.border {
  border-style: solid;
  border-color: #000000;
}
.App {
  text-align: center;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.textField {
  width: 200px;
}

.dense {
  margin-top: 10px;
}


menu {
  width: 200px;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.lineChart {
  display:inline-block;
  width: 90%;
  height: 700px;
}

* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #f1f1f1;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.logo {
  height: 150px;
  width: 150px;
}

.headerColumn {
  float: left;
  width: 33.33%;
}

.headerBallonColumn {
  float: left;
  width: 33.33%;
  padding-left: 5%;
  padding-right: 5%;
  margin:0;
  border:0;
  padding-top: 1%;
}

.button {
  margin : 20px;
}

#top4ProductsDiv {
  width: 80%;
  margin: 0 auto;
}
